*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #1e1e1e;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
#terminal{
    background: #000;
    color: #00ff00;
    font-family: monospace;
    width: 700px;
    height: 450px;
    padding: 20px;
    border-radius: 8PX;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
#outout{
    flex: 1;
    overflow-y: auto;
}
#input-line{
    display: flex;
    align-items: center;
    gap: 8px;
}
.prompt{
    color: #00ff00;
}
input{
    background: transparent;
    border: none;
    outline: none;
    color: #00ff00;
    font-family: monospace;
    font-size: 16px;
    flex: 1;
}
.output-line{
    margin-bottom: 4px;
}
.error{
    color: #444;
}